div {
    border: solid 1px black;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   border: solid 1px black;
   min-height: 100vh;
   grid-template-rows: 1fr;
}
.left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    color: teal;
    background: rgb(15, 45, 101);
}
.right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: rgb(15, 45, 101);
    background: peru;
}
.middle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    color:darkseagreen; 
    background: teal;
}
.top {
    display-grid;
    grid-template-columns: 1fr;
    color: peru;
    background: darkseagreen;
}
